{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

</head>
<style>

    html {
        scroll-behavior: smooth;
        transition:0.7s ease-in-out;
    }
    
    .navbar {
        transition: top 0.3s;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        border-bottom: 1px solid #333333;
    }


    .navbar-brand {
        font-weight: bold;
        font-size: 2rem;
        color: orange !important;
    }

    .nav-link {
        font-size: 15px;
        font-weight: bold;
        color: black;
        margin-left: 15px;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        transition: color 0.4s ease-in-out, border-bottom-color 0.4s ease-in-out;
    }

    .nav-link:hover {
        color: #FFA500 !important;
        border-bottom-color: #FFA500;

    }

    .container1{
        width:100;
        height:auto;
        margin-top:120px;
        box-sizing:border-box;
    }

    .row {
        width: 100%;
        min-height: 570px;
        margin-left:0px
    }


    .first-part {
        width: 43%;
        min-height:550px;
        margin-top: 20px;
        margin-left: 35px;
    }

    .second-part {
        width: 30%;
        min-height:400px;
        margin-top: 10px;
        margin-right:40px;
        background: url('https://i.ibb.co/sKZm9cf/me1.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 40px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    }

    @media (max-width: 991px) {
        .row {
            margin-left: 0;
            width: 100%;
            justify-content: center;
        }

        .first-part,
        .second-part {
            width: 90%;
        }
    }


    @media (max-width: 575px) {
        
        .first-part,
        .second-part {
            margin-left: 0;
            width: 100%;
            height: auto;
        }

        .second-part {
            margin-top: 50px;
        }
    }


    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .continuous-fade {
        animation: fadeInOut 4s ease-in-out infinite;
    }

    .freelancer{
        width: 100%;
        min-height:420px;
        background-image:url('https://images.unsplash.com/photo-1483389127117-b6a2102724ae?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-position: center;
        background-size: 1500px auto;
    }

    .freelancer1{
        width: 100%;
        min-height:420px;
        background-image:url('https://images.unsplash.com/photo-1488998427799-e3362cec87c3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-position: center;
        background-size: 1500px auto;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container-fluid">
            <a class="navbar-brand text-warning ml-5" href="#">PORTFOLIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mr-5 mt-2 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active fs-6" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-6" href="#header">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-6" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-6" href="#work">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-6" href="#resume">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-6" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-6" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <script>
        document.querySelectorAll('.navbar-nav .nav-link').forEach(link => {
            link.addEventListener('click', function() {
                const collapseElement = document.querySelector('.navbar-collapse');
                if (collapseElement.classList.contains('show')) {
                    new bootstrap.Collapse(collapseElement).toggle();
                }
            });
        });
    </script>
    
    

    <div class="container1">
        <section id="header" class="row d-flex justify-content-around">
            <!-- First Part -->
            <div class="first-part">
                <p class="h2 mt-5" style="color:orange;">Welcome!</p>
                <p class="continuous-fade text-muted" style="font-size:75px;">I Am Vedant Thate</p>
                <p class="h4">Software Developer , Web Developer and Vedio Editor!</p>
                <p class="text-secondary mt-3 h5">
                    "Multifaceted professional specializing in web development and software development, 
                    showcased through a dynamic portfolio website. Fluent in Python and the Django framework."
                </p>
                <div class="form-icon-container mt-4 ml-3">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=vedantthate19@gmail.com&su=Subject%20Here&body=Hello%2C%20This%20is%20the%20body%20of%20the%20email." title="Email" target="_blank"
                        class="btn btn-outline-warning btn-sm mx-2 rounded-circle">
                        <i class="bi bi-envelope-paper fs-4"></i>
                    </a>
                    <a href="https://www.instagram.com/veduthate?igsh=MXNhYXdiNHpjMnhqYg==" title="Instagram" target="_blank"
                        class="btn btn-outline-warning btn-sm mx-2 rounded-circle">
                        <i class="bi bi-instagram fs-4"></i>
                    </a>
                    <a href="http://www.linkedin.com/in/vedant-thate-ab5168257" title="linkedin" target="_blank"
                        class="btn btn-outline-warning btn-sm mx-2 rounded-circle ">
                        <i class="bi bi-linkedin fs-4 "></i>
                    </a>
                    <a href="https://github.com/veduthate123" title="github" target="_blank"
                        class="btn btn-outline-warning btn-sm mx-2 rounded-circle">
                        <i class="bi bi-github fs-4"></i>
                    </a>
                    <a href="https://wa.link/vbkiis" title="whatsapp" target="_blank"
                        class="btn btn-outline-warning btn-sm mx-2 rounded-circle">
                        <i class="bi bi-whatsapp fs-4"></i>
                    </a>
                </div>
            </div>

            <!-- Second Part -->
            <div class="second-part">
            </div>
        </section>

         <!-- Services Section -->
         <section id="services" class="service-edit">
            <div class="d-flex justify-content-center">
                <div class="parts1">
                    <h2 class="h2 text-center text-warning">My Services</h2>
                    <p class="text-center mt-4 h6">
                        "My Services cater to a range of industries, offering expertise in Web Development,
                        Photography, Web Design, App Development, Video Editing, and Capturing Moments."
                        <hr class="custom-hr">
                    </p>
                </div>
            </div>
            <div class="parts2 mt-3 d-flex justify-content-center">
                <div class="row text-center mt-3">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card service-box mt-4">
                            <div class="icon">
                                <i class="bi bi-browser-chrome text-secondry"></i>
                            </div>
                            <h4>WEB DEVELOPING</h4>
                            <p>Crafting interactive and dynamic websites using cutting-edge technologies and frameworks to bring ideas to life.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card service-box mt-4">
                            <div class="icon">
                                <i class="bi bi-github text-secondry"></i>
                            </div>
                            <h4>SOFTWARE DEVELOPING</h4>
                            <p>Building robust and scalable mobile applications that provide seamless user experiences and drive business growth.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card service-box mt-4">
                            <div class="icon">
                                <i class="bi bi-camera text-secondry"></i>
                            </div>
                            <h4>PHOTOGRAPHY</h4>
                            <p>Capturing moments and stories through the lens, transforming ordinary scenes into captivating visual narratives.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card service-box mt-4">
                            <div class="icon">
                                <i class="bi bi-android text-secondry"></i>
                            </div>
                            <h4>APP DEVELOPING</h4>
                            <p>Building robust and scalable mobile applications that provide seamless user experiences and drive business growth.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card service-box mt-4">
                            <div class="icon">
                                <i class="bi bi-globe text-secondry"></i>
                            </div>
                            <h4>WEB DESIGN</h4>
                            <p>Designing aesthetically pleasing and user-friendly interfaces, blending creativity with functionality to enhance digital experiences.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card service-box mt-4">
                            <div class="icon">
                                <i class="bi bi-camera-reels text-secondry"></i>
                            </div>
                            <h4>VIDEO EDITING</h4>
                            <p>Transforming raw footage into polished, engaging videos with seamless transitions and captivating visuals, bringing stories to life.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        <section class="free">
            <div class="col-lg freelancer d-flex justify-content-center flex-column align-items-center text-light">
                <p class="h1">I Am Available For Freelancer !</p>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=vedantthate19@gmail.com&su=Subject%20Here&body=Hello%2C%20This%20is%20the%20body%20of%20the%20email." title="Email" target="_blank" class="mt-4">
                    <button type="submit" class="btn btn-primary btn-block">HIRE ME</button>
                </a> 
            </div>
        </section>

        
        <!-- work Section -->
        <section id="work" class="work-edit">
            <div class="d-flex justify-content-center">
                <div class="partw1">
                    <h2 class="h2 text-center text-warning">My Work</h2>
                    <p class="text-center mt-4 h6">
                        "My work is a fusion of creativity and technical expertise
                            to craft captivating digital experiences."
                        <hr class="custom-hr">
                    </p>
                </div>
            </div>
            <div class="partw2">
                <div class="row text-center d-flex justify-content-center">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card service-box1 mt-4 ml-5">
                            <div class="icon">
                                <i class="bi bi-github text-secondry"></i>
                            </div>
                            <h4>All my work on Github</h4>
                            <p>From crafting interactive web applications to developing comprehensive management systems, 
                                explore my projects that leverage cutting-edge technologies like Python, Django Fremwork, PHP, and Java.</p>
                            <p>
                                To see my work, <a href="https://github.com/veduthate123" target="_blank">Click Here.</a>
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="free1">
            <div class="col-lg freelancer1 d-flex justify-content-center flex-column align-items-center">
                <p class="h3 text-dark fw-bold ">I am a fresher</p>
                <p class="h1 text-dark fw-bold">
                    <span id="number"></span>+
                </p>
                <p class="h3 text-dark fw-bold">Successul Projects</p>
            </div>
        </section>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const numberElement = document.getElementById('number');
                const finalNumber = '14';
                const duration = 2500; 
                const interval = 150; 
            
                function shuffleNumber() {
                    let startTime = Date.now();
                    let endTime = startTime + duration;
            
                    function update() {
                        let now = Date.now();
                        let progress = Math.min((now - startTime) / duration, 1);
                        let randomNumber = Math.floor(Math.random() * 100) + 1;
                        numberElement.textContent = randomNumber;
            
                        if (progress < 1) {
                            setTimeout(update, interval);
                        } else {
                            numberElement.textContent = finalNumber;
                        }
                    }
            
                    update();
                }
            
                const observer = new IntersectionObserver((entries) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            shuffleNumber();
                        }
                    });
                }, { threshold: 0.5 }); 
                
                const section = document.querySelector('.free1');
                observer.observe(section);
            });
            </script>
            


        <!-- Resue Section -->
        <section id="resume" class="resume-edit">
            <div class="d-flex justify-content-center">
                <div class="partr1">
                    <h2 class="h2 text-center text-warning">My Resume</h2>
                    <p class="text-center mt-4 h6">
                        "Crafting a dynamic narrative of innovation and skill, my resume showcases a
                         passion for creating compelling digital solutions that resonate with impact."
                        <hr class="custom-hr">
                    </p>
                </div>
            </div>
            <div class="partr2">
                <div class="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon"><i class="fas fa-pencil-alt"></i></div>
                        <div class="timeline-content left">
                            <h3>2020 - 2023</h3>
                            <h4>Bachelor of Computer Application</h4>
                            <p>"Computer Application graduate proficient in algorithms, data structures, and software development methodologies."</p>
                        </div>
                    </div>
                    <div class="timeline-item">
                        <div class="timeline-icon"><i class="fas fa-briefcase"></i></div>
                        <div class="timeline-content right">
                            <h3>2023 - 2025</h3>
                            <h4>Master's of Computer Application</h4>
                            <p>"Grounded in the principles of computer science, equipped with problem-solving prowess and a passion for innovation."</p>
                            <p>"Currently Pursuing"</p>
                        </div>
                    </div>
                </div>
                <div class="partr3">
                    <div class="col-lg d-flex justify-content-center flex-column align-items-center text-light">
                        <p class="h5 text-dark">Click below to check to my resume</p>
                        <a href="static/css/Vedant_Thate.pdf" class="mti2" target="_blank">
                            <button type="submit" class="btn btn-primary btn-block">Click Here</button>
                        </a> 
                    </div>
                </div>
            </div>
        </section>
        
        
         <!-- Blog Section -->
        <section id="blog" class="blog-edit">
            <div class="d-flex justify-content-center">
                <div class="partb1">
                    <h2 class="h2 text-center text-warning">My Blog</h2>
                    <p class="text-center mt-3 h6">
                        "Exploring a myriad of topics through insightful narratives,
                        captivating visuals, and expert analysis in my blogs."
                        <hr class="custom-hr">
                    </p>
                </div>
            </div>
            <div class="partb2">
                <div class="row justify-content-center mt-3">
                    <div class="col-lg-3 col-md-6 mb-4 mt-4">
                        <div class="card service-blog">
                            <img src="https://res.cloudinary.com/upwork-cloud/image/upload/c_scale,w_1000/v1709856647/catalog/1393441244683726848/xd0res0zqtcolguhiiht.webp" alt="Web Design Evolution Insights" class="img-fluid">
                            <h3 class="mt-3 ml-4 ttl">"User-Centric Web Solutions"</h3>
                            <p class="text-mute mr-3 ml-4" style="font-size:14px;" >May 31, 2023 | Lifestyle</p>
                            <p class="ml-4">Crafting websites focused on meeting user needs, enhancing engagement and satisfaction.</p>
                            <p class="btnn ml-4"> 
                                <a href="https://www.specbee.com/blogs/user-centric-design-why-your-website-needs-it" target="_blank" >
                                    <button type="submit" class="btn ">Read More</button>
                                </a>
                            </p> 
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mt-5">
                        <div class="card service-blog">
                            <img src="https://149842033.v2.pressablecdn.com/wp-content/uploads/2020/11/Calvino.jpg" alt="Web Design Evolution Insights" class="img-fluid">
                            <h3 class="mt-3 ml-4 ttl">"Web Design Evolution Insights"</h3>
                            <p class="text-mute mr-3 ml-4" style="font-size:14px;" >May 31, 2023 | Lifestyle</p>
                            <p class="ml-4">Discover the latest advancements shaping digital landscape, ensuring your online presence stays ahead of the curve.</p>
                            <p class="btnn ml-4"> 
                                <a href="https://dev.to/pragativerma18/evolution-of-web-42eh" target="_blank">
                                    <button type="submit" class="btn ">Read More</button>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mt-4">
                        <div class="card service-blog">
                            <img src="https://d3h2k7ug3o5pb3.cloudfront.net/image/2020-12-09/594c1d20-3a05-11eb-8a2d-dfd20b01c473.jpg   " alt="Creative UI/UX Approaches" class="img-fluid">
                            <h3 class="mt-3 ml-4 ttl">"Creative UI/UX Approaches"</h3>
                            <p class="text-mute mr-3 ml-4" style="font-size:14px;" >May 31, 2023 | Lifestyle</p>
                            <p class="ml-4"> Implement innovative user interface and experience strategies to elevate digital interactions and conversions.</p>
                            <p class="btnn ml-4"> 
                                <a href="https://www.guvi.in/blog/creativity-and-functionality-in-ui-ux-design/" target="_blank">
                                    <button type="submit" class="btn ">Read More</button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Contact Section -->
        <section id="contact" class="contact-edit">
            <div class="d-flex justify-content-center">
                <div class="partc1">
                    <h2 class="h2 text-center text-warning">Contact Me</h2>
                    <p class="text-center mt-3 h6">
                        "Reach out and let's connect to explore opportunities, collaborations, or any inquiries."
                        <hr class="custom-hr">
                    </p>
                </div>
            </div>
            {%for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>Message :</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <div class="partc2 d-flex justify-content-center">
                <div class="contact-form mt-3">
                    <form action="{% url 'home' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name" autocomplete="off"
                                required>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" autocomplete="off"
                                required>
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" autocomplete="off"
                                required>
                        </div>

                        <div class="form-group">
                            <textarea id="message" class="form-control" name="message" placeholder="Write your message..." rows="3" autocomplete="off" required></textarea>
                        </div>
                        <a href=""><button type="submit" class="btn btun btn-warning mt-2">Send Message</button></a>
                    </form> 
                </div>
            </div>
        </section>
        
        
        <!-- footer Section -->
        <section id="footer" class="footer-edit mt-5 bg-dark">
            <div class="d-flex justify-content-center">
                <div class="col-log-6 col-md-8 col-sm-10">
                    <p class="text-center mt-3 h5 text-light">
                        &copy; Aug 2024 Portfolio | Design and Code by Vedant Thate | All Rights Reserved
                        <hr class="custom-hr">
                    </p>                    
                </div>
            </div>
        </section></div>

</body>

</html>